version: "3"
services:
  bot:
    deploy:
      resources:
        limits:
          memory: 256M
    env_file:
      - .env
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro